<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="NiranAdmin" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="Niran.settings" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\NiranAdmin" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
