{% extends "adminlte/base.html" %}

{% block content %}
{% load static %}
<a href="#" class="burger-btn d-block d-xl-none p-4">
  <i class="bi bi-justify fs-3"></i>
</a>
<div id="main">

    <div class="page-content">
        <div class="page-heading">
            <h3>ประวัติการทำรายการขายล่าสุด</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="home">หน้าหลัก</a></li>
         
                  <li class="breadcrumb-item active" aria-current="page"><a href="#">ประวัติการทำรายการขายล่าสุด</a></li>
                </ol>
              </nav>
        </div>
        
        <div class="page-content">
            
            <div class="card">
                <div class="card-header">
                  <h4>ตารางรายการงานและรายละเอียด</h4>
            
           
                </div>
                <div class="card-body">
        
                  <table id="myTable" class="display">
                      <thead>
                          <tr>
                              <th>OrderCode</th>
                              <th>แบบพวงหลีด</th>
                              <th>วันที่ทำการสั่งซื้อ</th>
                              <th>ราคา</th>
                              <th>จำนวน</th>
                              <th>ยอดจ่าย</th>
                              <th>ชื่อผู้วายชนม์</th>
                              <th>ชื่อผู้ติดต่อ</th>
                              <th>เบอร์โทรติดต่อ</th>
                              <th>Status</th>
                              <th>เมนูจัดการ</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for i in list_data %}
                        <tr>
                           <td>{{ i.Order_code }}</td>
                          <td>{{i.product.Product_Code}}</td>
                          <td>{{i.create_at | date:"d/m/Y H:i"}}</td>
                          <td>{{i.product.Product_Price}}</td>
                          <td>{{i.qty}}</td>
                          <td>{{i.total}}</td>       
                          <td>{{i.t4}}</td>  
                          <td>{{i.t7}}</td>  
                          <td>{{i.t6}}</td>  
                          {% if i.status %}
                         
                          <td> <span class="badge bg-success">ยืนยันสำเร็จ</span></td>
                          {% elif i.status == None   %}
                          <td> <span class="badge bg-warning">รอตรวสอบสถานะ</span></td>
                          {% else %}
                          <td> <span class="badge bg-danger">ยกเลิกคำสั่งซื้อ</span></td>
                         
                          {% endif %}       
                         
                        <td><div class="btn-group dropdown">
                          <a class="btn icon btn-primary" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-pencil"></i></a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" >
                            <a class="dropdown-item" onclick="change_status({{i.Order_id}})">ปรับสถาณะ</a>
                            <a class="dropdown-item" href="orderdeital/{{i.Order_id}}" target="_blank">ดูรายละเอียด</a>
                          
                          </div>
                      </div></td>
                         
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
        </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ปรับสถาณะยืนยันคำสั่งสินค้า</h5>
        <button type="button" class="close" data-dismiss="modal" onclick="$('#exampleModalCenter').modal('toggle');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <div class="form-check form-check-inline  ">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
            <label class="form-check-label" for="inlineRadio1">ยืนยันคำสั่งซื้อ</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
            <label class="form-check-label" for="inlineRadio2">ยกเลิกคำสั่งซื้อ</label>
          </div>
          <input type="text" id="order_id" hidden>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#exampleModalCenter').modal('toggle');">Close</button>
        <button type="button" class="btn btn-primary" onclick="change_save()">Save changes</button>
      </div>
    </div>
  </div>
<script>
 var selectedValue = false;
$(document).ready( function () {
      $('input[name="inlineRadioOptions"]').on('change', function () {
        // Get the selected value
        selectedValue   = $('input[name="inlineRadioOptions"]:checked').val();
        
        // Display the selected value in the console (you can modify this part based on your needs)
        console.log("Selected Value: " + selectedValue);
    });


    var now = new Date();
    now.setHours(now.getHours() + 7);
    // Format the date to match the datetime-local input format (YYYY-MM-DDTHH:mm)
    var formattedDate = now.toISOString().slice(0, 16);
    
    // Set the value of the input field
    $('#bdate').val(formattedDate);

    var table= $('#myTable').DataTable( {
       "pageLength": 50,
       order: [[2, 'desc']] ,
      dom: 'Bfrtip',
      buttons: [
      {
        extend: 'excelHtml5',
        text: 'Excel',
        charset: 'UTF-8',
        // Other options and customization
    }
      ],
      responsive: true,
      rowReorder: {
        selector: 'td:nth-child(2)'
    }
    
    
  });  
  
  $('#myTable th#th_row').css('width', '20px');


});



let   order_id = 0;
function change_status(id){

  $('#exampleModalCenter').modal('show'); 
  order_id = id;
}

function change_save(){
      
  $.ajax({
    type: "POST",
    url: "/sale", 
    dataType: 'json',
        async: false,
        //json object to sent to the authentication url
        data: {
           csrfmiddlewaretoken: '{{ csrf_token }}' ,
           "action":"change",
           "order_id": order_id,
           "status": selectedValue

        },
    success: function(response) {
    // Handle the response from the server
    Swal.fire({
      icon: 'success',
      title: 'Success',
      text: 'บันทึกข้อมูลสำเร็จ',  // Display the first message
      showConfirmButton: false, // This will remove the "OK" button
  });
        // After 5 seconds, reload the page
        setTimeout(function () {
          location.reload();
      }, 2000); // 3000 milliseconds = 3 seconds
    },
    error: function(xhr, status, error) {
    // Handle errors
    console.log("Error: " + error);
    }
    });
}

function show_detial(Order_code){
  window.open(url, '_blank');
}
</script>
</div>

{% endblock content%}