{% extends "base.html" %}

{% block content %}
{% load static %}
<style>

    .custom-link {
        color: #FFA500; /* Set the color to your desired color (e.g., orange) */
        text-decoration: none; /* Remove the default underline */
    }

    .custom-link:hover {
        color: #FFD700; /* Set the color for the link when hovered (e.g., gold) */
    }

    /* *,::after,::before{
        box-sizing: border-box;
    }
    .amount-container{
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .shopping-cart{
	padding-bottom: 50px;
	border-radius: 10px;
    background-color: inherit;
}

.shopping-cart.dark{
	 background-color: #e5e5e5;
    
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
   
}

.shopping-cart .add-more{
    padding-top: 20px;
}

.shopping-cart .block-heading{
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
    font-family: 'Kanit', sans-serif;
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
    border-radius: 5px;
}



.shopping-cart .items .product{
	/* margin-bottom: 1rem; */
	/* padding-top: 2rem; */
	padding-bottom: 2rem;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: left;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
    color: #1b3431;
    
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
    color: var(--heading-color);
    text-align: left;
    padding: 5px;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 5px solid #dea567;
    background-color: #1b3431;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #dea567;
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 18px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
    /* Add your regular styles with 'p-5' class */
.pdcs {
  padding: 1.25rem; /* Or any default padding value */
}

/* Remove 'p-5' class for screens with a maximum width of 767 pixels (typical mobile devices) */
@media (max-width: 767px) {
  .pdcs {
    padding: 0; /* Remove padding for mobile devices */
  }
}

}
</style>
   <section class="py-5 ud-features">
    <div class="container-fluid px-4 px-lg-5 mt-3" style="padding-top: 6rem;">
       
        <section class="shopping-cart dark">
        
            <div class="container-fluid pdcs" >

               <div class="block-heading">
                 <h2 style="color:#d78e3e;" >รายการพวงหรีดที่ท่านเลือก</h2>
                 <p style="color: #000000;">คุณมีของในตระกร้าสินค้า  <span style="color:#0d6efd;; font-weight: 1000;">1</span> รายการ</p>
               </div>
               <div class="content" style="background-color: #1b3431; ">
                <form  method="post" enctype="multipart/form-data" >
					{% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 col-lg-9">
                            <div class="items">
                                <div class="product ">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-3">
                                            <img class="img-fluid mx-auto d-block image p-3" src="/media/{{list_img.Product_Img}}">
                                        </div>
                                        <div class="col-lg col-md-8">
                                            <div class="info">
                                                <div class="row p-3">
                                                    <div class="col-md-8 col-sm product-name">
                                                        <div class="product-name" >
                                                            <h3 href="#">พวงหรีดรักษ์โลก {{Orderhis.product.Product_Code}} </h3>
                                                            <h3 href="#">ราคา  {{Orderhis.product.Product_Price}} บาท</h3>
                                                            <div class="product-info ">
                                                                <div class="row text-left">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                                        <h5 style=" font-weight: bold;" style="color: var(--body-color);">รายละเอียดข้อมูลที่ทำการสั่งซื้อ</h5>
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                                        <div id="copyText" onclick="copyToClipboard()">
                                                                            <h5 class="value" style="font-size:1.2rem; font-weight: bold;">รหัสคำสั่งซื้อ: {{Orderhis.Order_code}}</h5>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                    <div class="col-lg-6 col-md col-sm-12">
                                                                        <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">ข้อความบรรทัดที่ 1: </span><br> {{Orderhis.t1}}</span>  
                                                                    </div>
                                                                    <div class="col-lg-6 col-md col-sm-12">
                                                                        <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">ข้อความบรรทัดที่ 2: </span> <br> {{Orderhis.t2}}</span>
                                                                    </div>
                                                                  
                                                                    <div class="col-lg-12 col-md col-sm-12">
                                                                        <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">ชื่อผู้วายชนม์ : </span> <br> {{Orderhis.t4}}</span>
                                                                    </div>
                                                                    <div class="col-lg-12 col-md col-sm-12">
                                                                        <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">ที่อยู่จัดสงสินค้า: </span>  <br> {{Orderhis.t3}}</span>
                                                                    </div>
                                                                    <div class="col-lg-12 col-md col-sm-12">
                                                                        <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">เบอร์โทรติดต่อ </span>  <br> {{Orderhis.t6}}</span>
                                                                    </div>
                                                                    <div class="col-lg-12 col-md col-sm-12">
                                                                        <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">ชื่อผู้ติดต่อ </span>  <br> {{Orderhis.t7}}</span>
                                                                    </div>
                                                                    <div class="col-lg-12 col-md col-sm-12">
                                                                        <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">ข้อมูลอื่นๆ เพิ่มเติม: </span>  <br> {{Orderhis.t5}}</span>
                                                                    </div>
                                                                   
                                                                   
                                                                    </div>
                                                                <div>
                                                                   

                                                                    
                                                                </div>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md col-sm quantity ">
                                                        <label for="quantity">จำนวน :</label>
                                                        <input id="quantity" name ="Qty" type="number" value ="1" min="1" class="form-control quantity-input"  required="required">
                                                        {% if Orderhis.log_img  %}
                                                        <div class="col-12 col-md-12 col-sm-12 text-center mt-5" >
                                                            <span class="value" style="font-size:1.2rem;"><span style="font-weight:bold;">รูปภาพ หรือโลโก้: </span></span>
                                                            <br>
                                                            <img src="/media/{{Orderhis.log_img}}" style="height: auto; width: 100%;" class="mt-2" alt="logo" />
                                                        </div>
                                                        {% else %}
                        
                                                        {% endif %}
                                                    </div>
                                                   

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 col-lg-3">
                            <div class="summary">
                             
                               
                                <div class="summary-item"><span class="text">ราคาที่ต้องชำระ</span><span class="price" id="total">{{Orderhis.product.Product_Price}} บาท</span></div>
                                <div class="row">
                                    <div class="col-12 p-5 text-center">
                                        <button  type="submit" style="width: 100%; background-color:  var(--heading-color);" class="btn  btn-lg btn-block"><i class="fa fa-shopping-cart" aria-hidden="true"></i> ชำระสินค้า</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
       </section>


       <!-- ====== Contact End ====== -->

<div class="ud-pricing wow fadeInUp" data-wow-delay=".15s">
    <div class="container text-center">
      <div class="row">
            <div class="col-12 col-lg-12">
              <a href="index.html" class="ud-footer-logo">
                <img src="{% static 'assets/images/niranImg/logo.png' %}" style="height: auto; width: 30%;" alt="logo" />
              </a>
              <p class="ud-widget-desc" style="font-size: 6vh;     line-height: 50px;">
                นิรันดร์ พวงหรีดรักษ์โลก
              </p>
            </div>
            <div class="col-12 col-lg-12 mt-5">
              <div class="ud-widget">
      
                <ul class="ud-widget-socials d-flex justify-content-center">
                  <li>
                    <a href="https://www.facebook.com/niran.officialth/">
                      <i class="lni lni-facebook-filled" style="font-size: 2em;"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/niranwreath/">
                      <i class="lni lni-instagram-filled" style="font-size: 2em;"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://lin.ee/KpuPbQ0">
                      <img src="{% static 'assets/images/niranImg/icons/line-black.png' %}" style="height: auto; width: 2rem;" alt="logo" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
      </div>
    </div>


        <!-- <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left mt-5">
            {% for product in list_product %}

                <div class="col mb-2">
                    <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{{ product.product_img_set.first.Product_Img.url }}');" >
                        <div class="team__text">
                            <div class="team__title">
                                <h5>{{ product.Product_Code }}</a></h5>
                            </div>
                            <p class="text-warning">ราคา {{ product.Product_Price }} บาท</p>
                            <p >{{ product.Product_Detial }}</p>
                            <div class="mt-2 border-warning">
                                <p class="text-warning text-center"><a href="/Product/{{product.Product_Code}}" class="custom-link">กดตรงนี้เพื่อสั่งซื้อ</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div> -->
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
var product_pricce = 1900;
    $(document).ready(function(){
        
        $('#quantity').on('change', function () {
            var quantity = $('#quantity').val(); // Get the quantity value
                var pricePerUnit = product_pricce; // Assuming the price per unit is 3000 บาท
                var totalPrice = quantity * pricePerUnit; // Calculate total price
                var all_pcice = totalPrice ;
                $('#total').text( all_pcice+ ' บาท');
        });
    });
    function copyToClipboard() {
        var textToCopy = document.querySelector('#copyText h5').innerText;
        var tempInput = document.createElement('input');
        tempInput.value = textToCopy;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        alert('Copied to clipboard: ' + textToCopy);
      }
</script>

{% endblock content%}